/* body {
    
} */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    width: 400px;
    margin: 0 auto;

}
.boxes {
    border: 1px solid black;
    width: 32%;
    height: 32%; 
    margin-bottom: 2%; 
    font-size: 7rem;
    margin: 0 auto;
    text-align: center;
}
.inputMessage {
    font-size: 2rem;
    }
p {
    margin: 0 auto;
}