body {
font-family: 'Rowdies', cursive;
background-color: wheat;
display: flex;
flex-direction: column;
align-items: center;
margin: 0px;
}
header {
    background: -webkit-linear-gradient(#70badc, rgba(232, 138, 229, 0.996));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.allPlayers{
    display: flex;
    justify-content: space-around;

}
h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}
.inputMessage {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    }
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    background-image: url(https://media.giphy.com/media/VbPndoWTeusUyeR8mC/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    border: 2rem solid #70badc;
    border-radius: 15px;
}
.boxes {
    border: 1px solid black;
    border-radius: 10px;
    width: 32%;
    height: 32%; 
    margin-bottom: 2%; 
    font-size: 7rem;
    margin: 0 auto;
    text-align: center;
}
.display {
    text-align: center;
    font-size: 2rem;
}
.player{
    margin-bottom: 0px;
}
.restartButton {
    text-align: center;
    margin-top: 2rem;
}
.button {
    background-image: url(Restart.png);
    border-radius: 10px;
    margin-top: 25px;
    width: 100px;
    height: 60px;
    background-size: 100%;
    background-position: center;    
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border-color: rgba(0,0,0,0.17);
}
  .button:hover {
    background-image: url(Restart.gif);
}
